# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code settings (optional to ignore all)
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs / temp files
*.log
*.tmp

# Data (optional – if you have big datasets)
data/
